/* Denna fil skall innehålla din CSS kod */

* {margin: 0px;}

* {font-size: 100px;}

#container {
    display: grid;
    width: 100vw;
    height: 200vh;


    grid-template-areas: 
    
    "as1 he he he he as2"
    "as1 a1 a1 a1 a1 as2"
    "as1 a1 a1 a1 a1 as2"
    "as1 a2 a2 a2 a2 as2"
    "as1 a2 a2 a2 a2 as2"
    "as1 a3 a3 a4 a4 as2"
    "as1 a3 a3 a4 a4 as2"
    "as1 a3 a3 a4 a4 as2"
    "as1 a3 a3 a4 a4 as2"
    "as1 a5 a5 a5 a5 as2"
    "as1 a5 a5 a5 a5 as2"
    "as1 a6 a6 a6 a6 as2"
    "as1 a6 a6 a6 a6 as2"
    "as1 a7 a7 a7 a7 as2"
    "as1 a7 a7 a7 a7 as2"
    "as1 fo fo fo fo as2"
    
    ;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(16, 1fr);


}



#header {
    grid-area: he;
background: lightgreen;
}

#article1 {
    grid-area: a1;
    background: whitesmoke;
}

#article2 {
    grid-area: a2;
    background: whitesmoke;
}

#article3 {
    grid-area: a3;
    background: whitesmoke;
}

#article4 {
    grid-area: a4;
    background: whitesmoke;
}

#article5 {
    grid-area: a5;
    background: whitesmoke;
}

#article6 {
    grid-area: a6;
    background: whitesmoke;
}

#article7 {
    grid-area: a7;
    background: whitesmoke;
}

#aside1 {
    grid-area: as1;
    
}

#aside2 {
    grid-area: as2;
    
}

#footer {
    grid-area: fo;
    background: lightgreen
}