/* Denna fil skall innehålla din CSS kod */

* {margin: 0vh;}

html {
    scroll-behavior: smooth;
}

#container {
    display: grid;
    width: 100vw;
    height: 100vh;
    
    grid-template-areas: 
    
    "he he"
    "eg eg"
    "tag tag"
    
    
    
    ;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
 
}

#parallax {
background: url('../img/nice-sunset-at-thedocks-blurred.png') no-repeat;
background-attachment: fixed;
background-size: cover;
width: 100vw;
height: 220vh;


}

h1 {
    text-shadow: 1vh 1vh black;
    
}

h2 {
    text-shadow: 1vh 1vh black;
}



#headergrid {
    grid-area: he;
    display: flex;
    width: 100vw;
    height: 25vh;

    justify-content: center;


    grid-template-areas: 
    
    "lo he2"
    
    ;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);

    background-color: rgba(0, 0, 0, 0.452);
    opacity: 100%;
  
    

    

}



#backlogga {
    display: flex;
    grid-area: lo;
    justify-content: center;
    padding: 3vh;
    padding-right: 10vh;
    width: 28.5vh; 

    


}

#header {
    grid-area: he2;
    font-style: italic;
    color: whitesmoke;
    -webkit-text-stroke-width: 1vh;
   
    
    padding-top: 3vh;
    padding-right: 5vh;

    font-size: 10vh;

    

}




#extrasgrid {
    display: flex;
    grid-area: eg;
    width: 100vw;
    height: 10vh;
    
    justify-content: center;

    grid-template-areas: 
    
    "co ab lc"
    

    ;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);

    padding-top: 3vh;
    padding-bottom: 3vh;
    grid-gap: 3vh;

    opacity: 100%;
}

#contact {
    display: flex;
    grid-area: co;

    width: 30vh;
}

#aboutus {
    display: flex;
    grid-area: ab;

    width: 30vh;
}

#location {
    display: flex;
    grid-area: lc;

    width: 30vh;
}



#transparentarticlegrid {
    grid-area: tag;
    display: flex;
    width: 73vw;
    height: 150vh;
    
    padding-left: 27vh;
    padding-top: 5vh;
    

    grid-template-areas: 

    "ta ta ta ta"
    "ta aug aug ta"
    "ta ta ta ta"
   
    
    ;

    justify-content: center;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    opacity: 90%;


}

#aboutusgrid {
    display: flex;
    grid-area: aug;
    display: grid;
    width: 100vw;
    height: 150vh;

    
    

    justify-content: center;
    


    grid-template-areas: 
    
    "ta a5 a5 ta"
    "ta a5 a5 ta"

   
    
    ;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    background-image: url(../img/blackbox.png);
    background-repeat: no-repeat;
    background-size: fixed; 

    
    


}

#transparentarticle {
    grid-area: ta;
    
}

#whitearrowdownmenu {
    display: flex;
    grid-area: ad;

    justify-content: center;

    padding-top: 30vh;
    
    width: 20vh;

    opacity: 90%;

    
    

}


  


#menucontainer {
    display: grid;
    width: 100vw;
    height: 100vh;
    
    

    grid-template-areas: 
    
    "ag ag"
    

    ;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}


#articlegrid {
    display: flex;
    grid-area: ag;
    display: grid;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    


    grid-template-areas: 
    
    "a1 a2"
    "a3 a4"

   
    
    ;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    background-image: url(../img/brownbrickwallbottom.png);
    background-repeat: 50;
    background-size: cover; 

    grid-gap: 10vh;
    
    
    opacity: 90%;
}


#article1 {
    grid-area: a1;
    background: lightslategray;
    box-shadow: 2vh 2vh black; opacity: 75%;
    
}

#article2 {
    grid-area: a2;
    background: lightslategray;
    box-shadow: 2vh 2vh black; opacity: 75%;
    
}

#article3 {
    grid-area: a3;
    background: lightslategray;
    box-shadow: 2vh 2vh black; opacity: 75%;
    
}

#article4 {
    grid-area: a4;
    background: lightslategray;
    box-shadow: 2vh 2vh black; opacity: 75%;
    
}

#article5 {
    grid-area: a5;
    
    
    
}

#footergrid {
    display: grid;
    grid-area: fg;
    width: 100vw;
    height: 20vh;

   
    


    grid-template-areas: 
    
    "fo fo"
   
    
    ;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);

    
    opacity: 80%;
}

#footer {
    grid-area: fo;
    background: black
}

