/* Denna fil skall innehålla din CSS kod */

* {margin: 0px;}



#container {
    display: grid;
    width: 100vw;
    height: 200vh;
    
    

    grid-template-areas: 
    
    "he he"
    "ta ta"
    "tag tag"
    "fo fo"
    
    ;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    



}

#parallax {
background: url('../img/brygga3.png') no-repeat center;
background-attachment: fixed;
background-size: cover;
width: 100vw;
height: 200vh;


}

h1 {
    text-shadow: 20px 20px black;
}

h2 {
    text-shadow: 20px 20px black;
}



#headergrid {
    grid-area: he;
    display: flex;
    width: 100vw;
    height: 25vh;

    padding: 50px;
    
    justify-content: center;

    grid-template-areas: 
    
    "lo he2"
    
    ;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);

    background-image: url(../img/darkoakplank.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 50%;

    

}

#logga {
    display: flex;
    grid-area: lo;
    justify-content: center;
    padding-top: 50px;


}

#header {
    grid-area: he2;
    font-style: italic;
    color: whitesmoke;
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: whitesmoke;
    
    font-size: 200px;

}



#articlegrid {
    display: flex;
    grid-area: ag;
    display: grid;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    


    grid-template-areas: 
    
    "a1 a2"
    "a3 a4"
   
    
    ;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    background-image: url(../img/greystonewall.jpg);
    background-repeat: no-repeat;
    background-size: cover; 

    grid-gap: 100px;
    padding: 100px;

}


#article1 {
    grid-area: a1;
    background: lightslategray;
    box-shadow: 20px 20px black; opacity: 75%;
    
}

#article2 {
    grid-area: a2;
    background: lightslategray;
    box-shadow: 20px 20px black; opacity: 75%;
    
}

#article3 {
    grid-area: a3;
    background: lightslategray;
    box-shadow: 20px 20px black; opacity: 75%;
    
}

#article4 {
    grid-area: a4;
    background: lightslategray;
    box-shadow: 20px 20px black; opacity: 75%;
    
}




#transparentarticlegrid {
    grid-area: tag;
    display: grid;
    width: 100vw;
    height: 75vh;

    padding: ;

    grid-template-areas: 
    
    "ta ta"
    "ta ta"
    "ta ta"
    "ta ta"
    "ta ta"
    "ta ta"
    "ta ta"
    "ta ta"
    
    ;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);

    
    

}

#transparentarticle {
    grid-area: ta;

}



#footer {
    grid-area: fo;
    background: lightgreen
}